<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"      
		autoReload="true"
      throwExceptions="true">
  <extensions>
    <add assembly="NLog.Targets.Sentry" />
    <add assembly="Utils"/> 
  </extensions>

  <targets>

    <target xsi:type="Console" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${newline}" />
    
    <target name="fileLog" xsi:type="File"
        layout="${longdate} ${logger} ${message}" 
        fileName="${basedir}/logs/log.txt" 
        archiveFileName="${basedir}/archives/log.{#####}.txt"
        archiveAboveSize="10240"
        archiveNumbering="Sequence"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="utf-8" />
    
    <target name="fileError" xsi:type="File"
        layout="${longdate} ${logger} ${exception-message}${newline}${stacktrace}${newline}${message}${newline}${newline}" 
        fileName="${basedir}/logs/error.txt" 
        archiveFileName="${basedir}/archives/error.{#####}.txt"
        archiveAboveSize="10240"
        archiveNumbering="Sequence"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="utf-8" />
    
    <target name="sentry" type="Sentry" dsn="https://a152e001b4744db099743406c60bbe8f:a3f18691e4324f178e32554eb6f06514@sentry.io/771565" environment="develop" />

  </targets>
  
  <rules>
    <!--<logger name="*" level="Trace" writeTo="console" />
    <logger name="*" level="Debug" writeTo="console" />-->
    <logger name="*" level="Info" writeTo="console" />
    <logger name="*" level="Error" writeTo="fileError" />
    <logger name="*" level="Error" writeTo="console" />
    <logger name="*" level="Fatal" writeTo="sentry" />
  </rules>
</nlog>
